/* ページ全体のスタイル */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* チャットコンテナのスタイル */
.chat-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #974; /*背景色*/
}

/* チャットメッセージのスタイル */
/* チャットメッセージのスタイル */
.chat-message {
    display: flex;
    margin-bottom: 10px;
}

/* 吹き出しのスタイル */
/*.balloon {
    border-radius: 10px;
    padding: 5px 10px;
    max-width: 70%; /* 吹き出しの最大幅を設定 */
/*}*/

/* メッセージのスタイル */
.message {
    flex: 1;
    padding: 8px;
    border: 2px solid #000; /*吹き出しの輪郭*/
    border-radius: 15px;
    margin-left: 15px; /* メッセージと吹き出しの間隔 */
    background-color: white;
    margin-bottom: 5px;
}

/* 送信ボタンのスタイル */
#send-button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* 各発言者に対するメッセージとスピーカー情報のスタイルはscript.js内で動的に設定 */
